                	<div id="page_login" class="pt-page pt-page-1 pt-page-current">
                			<div id="page_login_toplayer" class="page-login-logo">                				
                				<div id="login_logo_label"><span style="color:darkcyan; font-style: italic;">PASS</span> &amp; <span style="color:lightseagreen; font-style: italic;">GO</span></div>
                			</div>
                			<div id="page_login_entry" class="page-login-entry">
								<input type="hidden" id="login_useruuid" />
	                        	<form class="login-form" id="login_form" name="login_form" autocomplete="off">
	                                <div id="loginformlayer" class="login_form login-portal-area">
										<input type="hidden" id="login_state" name="state" value="<%=meta.state%>"/>
										<input type="hidden" id="login_nonce" name="nonce" value="<%=meta.nonce%>"/>
										<br/>     
	                                	<label id="login_label" class="login-label">Log In</label>   
										<br/>  
										<br/>    
										<div class="input-group-name">
											<label id="login_user_label" class="login-label">User name</label>
											<input type="text" id="login_username" name="username" class="form-control input-md" placeholder="User" maxlength="60"/>
											<input type="hidden" id="login_user" />
										</div>
	                                    <br/>
										<div class="input-group-password">
											<label id="login_password_label" class="login-label">Password</label>
											<input type="password" id="login_pass" name="password" class="form-control input-md" placeholder="Password" autocomplete="off" />
										</div>
	                                    <br/>
										<div class="input-group-forgot"> 
											<a href="javascript:void(0)" onclick="forgotClick()" id="forgot_password" class="enter-class login-label" title="Forgot Password">Forgot Password</a>
										</div>
										<br/>										
										<div id="login_button_layer" class="login_button_layer">
	                                    	<input type="button" onclick="connectServer();" id="login_button" class="form-control input-md" value="Sign In"/>
	                                    </div>
	                                    <br/>
										<div class="row">
											<div class="col-md-12 text-center">
												<label class="login-label"><%=meta.version%></label>
											</div>
										</div>
	                                    <br/>
	                                    <% let rows = data.dataset?.rows;
											if(rows && rows.length > 0) { %>
	                                    <div class="login_button_layer">
	                                    	<fieldset class="login-field-set">
	                                    		<legend class="login-legend">
	                                    	<label class="login-label">Login via Single Sign-On</label>
	                                    		</legend>
	                                    	</fieldset>
	                                    </div>		
	                                    	<%
	                                    	for(let r of rows) {
	                                    		let domain = r["domainid"]
	                                    		let description = r["description"] %>
										<div class="login_button_layer">
											<div class="link-button-cover">
	                                    		<a class="link-button form-control input-md" href="javascript:void(0)" onclick="window.open('/auth/signin/<%=domain%>','_self')"><%=description %></a>
											</div>
	                                    </div>
	                                    	<%
	                                    	}
											}
	                                    %>
	                                </div>
	                            </form>
                            </div>
                    </div>                                                        
