<% let display = page.isUpdateMode()?"block":"none"; %>
	<div class="row row-height hidden-layer copy-layer" style="display:<%=display%>">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-11">
<label for="publickeys" id="publickeys_label" class="control-label"><%=label.get('publickeys_label','Public Keys')%></label>
<div class="input-group"><textarea id="publickeys" class="form-control input-md" rows="6" readonly><%=data.dataset?.publickeys%></textarea>
<div class="input-group-required input-group-addon input-group-append">
	<table>
		<tr><td valign="top">
		<a href="javascript:void(0);" class="input-group-text key-link" onclick="copyPublicKey()" tabindex="-1"><i class="fa fa-copy" aria-hidden="true"></i></a>
		<a href="javascript:void(0);" class="input-group-text key-link" onclick="downloadPublicKey()" tabindex="-1"><i class="fa fa-download" aria-hidden="true"></i></a>
		</td></tr>
	</table>
</div>
</div><div id="inactive_alert" role="alert" class="has-feedback has-error" style="display:none;"><%=label.get('inactive_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height hidden-layer" style="display:<%=display%>">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-4">
<label for="inactive" id="inactive_label" class="control-label"><%=label.get('inactive_label','Active')%></label><div class="input-group">
<%-page.html('select',{map: data.entity?.tactive, value: data.dataset?.inactive, id: "inactive", name: "inactive", class: "form-control input-md"})%>
<div class="input-group-required"><label class="required">*</label></div></div><div id="inactive_alert" role="alert" class="has-feedback has-error" style="display:none;"><%=label.get('inactive_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
